@charset "UTF-8";

/* Cursor */
html{
    cursor: url(/app-Moto-Mosquito/imagens/mata_mosquito.png) 30 30, auto;
}

/* Cenário */
body{
    background: url(/app-Moto-Mosquito/imagens/bg.jpg) no-repeat;
    background-size: cover;
}

.painel{
    position: absolute; width: 190px; padding: 10px; bottom: 0px; border-top: solid 1px #FFF;
    background-color: #ffffff52; left: 0px;
}

.vidas{
    float: left;
}

.cronometro{
    float: left; font-size: 20px; font-weight: bold;
}

/* Tamanho Imagem Mosquito */
.mosquito1{
    width: 50px; height:50px;
}

.mosquito2{
    width: 75px; height: 75px;
}

.mosquito3{
    width: 100px; height: 100px;
}

/* Orientação Imagem Mosquito */
.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}